

.nav-menu {
    list-style: none;
}

.navbar button {
    border: 1px solid var(--main);
    border-radius: 30px;
    transition: .5s ease-in-out;
}

.navbar button:hover {
    background-color: var(--main);
    color: var(--white);
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--main);
}